<application>
  <component name="UpdatesConfigurable">
    <enabledExternalComponentSources>
      <item value="Android SDK" />
    </enabledExternalComponentSources>
    <opti
# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/